---
const { name, title, link, portrait, linkName } = Astro.props;
---

<div class="container">
  <h3>{name}</h3>
  <h4>{title}</h4>
  <!-- <img src={portrait} /> -->
  <a
    href={link}
  >
  {linkName} 
  </a>
</div>

<style lang="scss">
  h3 {
    margin: 0px !important;
  }

  h4 {
    font-weight: normal;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 10px;
    gap: 5px;
  }
</style>