---
import ContentBlock from "../components/blocks/ContentBlock.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Gloopalaxy" showSidebar="true">
  <!-- Pitch -->
  <section class="vertical">
    <!-- <Banner src={banner4} height="400px" position="center" /> -->
    <p class="compact">
      Build and manage your own space aquarium in this tiny management game. Explore different planets to collect all alien sea creatures, customize and expand your aquarium, and ensure that your visitors and creatures are happy to progress through various missions.
    </p>
    <br />
    <p class="center">
      <!-- <span class="highlight">
        Solen's hotel awaits you, breakfast and secrets included.
      </span> -->
    </p>
  </section>

  <!-- KSP -->
  <section class="vertical">
    <p class="note center">
      *Note: More informations coming soon.
    </p>

    <!-- <ContentBlock image={Investigation} title="Become a hotel manager">
      <p>
        You accept a job as a hotel manager in a small seaside resort, only to realize that it is haunted and your only guests are... spirits! Take care of your ghostly clients: fulfill their requests by opening the restaurant or find what they're asking for by fishing, gardening, and more. Keep the hotel running smoothly with day-to-day tasks, from delivering room service to cleaning and repairing broken items.

      </p> 
    </ContentBlock>

    <ContentBlock image={Management} title="Conduct an investigation">
      <p>
        Just as you settle in, you discover a note suggesting that the previous manager may not have merely resigned as everyone believes — something may have happened to him. You decide to investigate, but the path to the truth is difficult to reach. To move forward, you'll need to assist the locals with their issues and strengthen your relationships with them, while also familiarizing yourself with your surroundings to uncover clues and secrets.
      </p>
    </ContentBlock>

    <ContentBlock image={Exploration} title="Begin a new life">
      <p>
        Settle into a cozy seaside life filled with dark secrets. Each day, you'll go through phases of management, exploration, and social gatherings. Manage your schedule and free time wisely, foster relationships with the locals, and delve into the city's past and folklore...
      </p>
    </ContentBlock>
    <br>

    <Banner src={banner3} height="400px" position="center" /> -->

  </section>
</MainLayout>

