---
import Banner from "../components/blocks/Banner.astro";
import ContentBlock from "../components/blocks/ContentBlock.astro";
import MainLayout from "../layouts/MainLayout.astro";
// import banner4 from "../assets/banners/banner4.png";
import Exploration from "../assets/ksp/exploration.png";
import Investigation from "../assets/ksp/investigation.png";
import Management from "../assets/ksp/management.png";
---

<MainLayout title="Solen" showSidebar="true">
  <!-- Pitch -->
  <section class="vertical">
    <!-- <Banner src={banner4} height="350px" position="center" /> -->
    <p class="compact">
      Solen is a narrative adventure where you take the role of a hotel manager in a haunted seaside resort. Unravel the enigmatic disappearance of your predecessor, while overseeing hotel operations.
    </p>
    <br />
    <p class="center">
      <span class="highlight">
        Solen's hotel awaits you, breakfast and secrets included.
      </span>
    </p>
  </section>

  <!-- KSP -->
  <section class="vertical">
    <p class="note center">
      *Note: The game's visuals are still in development.
    </p>

    <ContentBlock image={Investigation} title="A Mysterious Detour">
      <p>
        Your journey takes an unexpected turn when your car breaks down, forcing you to seek shelter for the night in a peculiar seaside resort. Unable to depart immediately, you are surprisingly offered the opportunity to step into the shoes of the hotel's previous manager, who vanished just days ago. To find your way home, you must unravel the enigmatic circumstances surrounding the former manager's disappearance while simultaneously overseeing the hotel's operations.


      </p> 
    </ContentBlock>

    <ContentBlock image={Management} title="An Investigative Endeavor">
      <p>
        Gradually, you discover pages from the former hotel manager's journal, realizing with growing unease that your arrival mirrors their unsettling experience. Scour every corner for clues, build connections with the locals, explore the resort's various sites, and decipher the hotel's most guarded secrets as you piece together the journal's cryptic entries.
      </p>
    </ContentBlock>

    <ContentBlock image={Exploration} title="Stepping into the Manager's Shoes">
      <p>
        Despite your desire to leave and explore for an escape, you quickly realize that you must work at the hotel if you don't want to disappear... Earn quotas by taking care of your otherworldly guests: responding to their requests, managing facilities like the restaurant and baths, maintaining the boiler room, and more. Only after amassing enough quotas can you venture out to seek a path back home.
      </p>
    </ContentBlock>

    <ContentBlock image={Exploration} title="Uncovering Sinister Secrets">
      <p>
        What initially seemed like a cozy tourist retreat soon takes on a more ominous tone as suspicion grows within you. To find your way out, you must adapt to this new reality and immerse yourself in the community, delving into the city's past, rituals, folklore, and events – no stone can be left unturned in your pursuit of crucial information. Along the way, unexpected friendships may form, but they could also shed light on dark secrets better left buried.
      </p>
    </ContentBlock>

  </section>
</MainLayout>

