---
import Banner from "../components/blocks/Banner.astro";
import ContentBlock from "../components/blocks/ContentBlock.astro";
import MainLayout from "../layouts/MainLayout.astro";
import banner4 from "../assets/banners/banner4.png";
import banner3 from "../assets/banners/banner3.png";
import Exploration from "../assets/ksp/exploration.png";
import Investigation from "../assets/ksp/investigation.png";
import Management from "../assets/ksp/management.png";
---

<MainLayout title="Solen" showSidebar="true">
  <!-- Pitch -->
  <section class="vertical">
    <Banner src={banner4} height="400px" position="center" />
    <p class="compact">
      Solen is a narrative adventure where you take the role of a hotel manager in a haunted seaside resort. Uncover the truth about the spirits' origins and the fate of the previous manager, while overseeing hotel operations.
    </p>
    <br />
    <p class="center">
      <span class="highlight">
        Solen's hotel awaits you, breakfast and secrets included.
      </span>
    </p>
  </section>

  <!-- KSP -->
  <section class="vertical">
    <p class="note center">
      *Note: The game's visuals are still in development.
    </p>

    <ContentBlock image={Investigation} title="Become a hotel manager">
      <p>
        You accept a job as a hotel manager in a small seaside resort, only to realize that it is haunted and your guests are... Spirits! Take care of your ghostly clients: fulfill their requests by opening new services or find what they're asking for by fishing, gardening, and more. Keep the hotel running smoothly with day-to-day tasks, from delivering room service to cleaning and repairing broken items.


      </p> 
    </ContentBlock>

    <ContentBlock image={Management} title="Conduct an investigation">
      <p>
        Just when you've settled in, you find a note suggesting that the previous manager may not have resigned as everyone believes and that something might have happened to him.

        You decide to investigate while helping the locals with their problems. Some are wary of you at first, but as you assist them and become part of the community, you gradually get closer to uncovering the sinister truth about what’s really happening here.
      </p>
    </ContentBlock>

    <ContentBlock image={Exploration} title="Begin a new life">
      <p>
        Settle into a cozy seaside life, surrounded by dark secrets. Befriend the locals and delve into the city's past and folklore — everything is fair game for gathering crucial information. After all, this is your home now.
      </p>
    </ContentBlock>
    <br>

    <Banner src={banner3} height="400px" position="center" />

  </section>
</MainLayout>

